body {
  background-color: #444;
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #57607e;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  margin-top: 10vh;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: #347;
  color: white;
  border: none;
  padding: 10px;
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #ddd;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  padding: 0 15px;
}

button {
  background-color: #57607e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  justify-content: flex-end;
}

.sent p {
  background: #6986c0;
  color: white;
  align-self: flex-end;
  text-align: right;
}

.received {
  justify-content: flex-start;
}

.received p {
  background: thistle;
  color: black;
  text-align: left;
}

p {
  max-width: 500px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  word-wrap: break-word;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}